data_path: "./data/processed/synthetic/synthetic_data_orthogonal_adcbg.csv"
alg_model: openai/gpt-3.5-turbo-0125
s1_num_principles_per_instance: 2
s2_num_clusters: 40
s2_random_clusters: true # ablation: remove replace embedding-based clusters with random
s3_max_principles: 5
annotator:
  is_single_annotator: true
  base_constitutional_annotator_configs:
    - data/annotator_configs/chatgpt_fn_constitutional_base_neutral_v1
    #- data/annotator_configs/gpt4o_fn_constitutional_base_neutral_v1
  other_annotator_configs:
    - data/annotator_configs/chatgpt_fn_noinstruction
    #- data/annotator_configs/alpaca_eval_gpt4o_fn_noinstruction