name: Tests

on:
  pull_request:
    branches:
      - main
  workflow_call:
      secrets:
        OPENAI_API_KEY:
          required: true

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[dev]"

      - name: Run non-API tests
        run: pytest -v -m "not api"

      - name: Run API tests
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        run: pytest -v -m "api"
